table {
    border-collapse: collapse;
    border-radius: 10px;
}

table td, table th {
    padding: 10px;
    border: 1px solid black;
}

thead {
    background-color: #f2f2f2;
    font-weight: bold;
}

ul.tabulka {
    text-align:left;
}

footer {
    color: black;
    text-align: center;
}
.outlined {
    color: yellow; 
    text-shadow: 1px 1px 0 black,  -1px -1px 0 black,  1px -1px 0 black, -1px 1px 0 black; 
}

.underlined {
    text-decoration: underline dashed; /* Podtržení textu */
}
